.home{
    .home_main{
        background-color: $--color-white;
    }
    .home-new-market .item:hover{
        background-color: $background-color-base-hover;
    }
    .home-download{
        background-color: $background-color-light;
    }
    // .home-new-market .item .markrt-card-main{
    //     color: #fff;
    // }
}