@font-face {
  font-family: 'iconfont';
  src:  url('~@/static/font/iconfont.eot?dngf0j');
  src:  url('~@/static/font/iconfont.eot?dngf0j#iefix') format('embedded-opentype'),
    url('~@/static/font/iconfont.ttf?dngf0j') format('truetype'),
    url('~@/static/font/iconfont.woff?dngf0j') format('woff'),
    url('~@/static/font/iconfont.svg?dngf0j#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* [class^="icon-"], [class*=" icon-"] { */
[class*=" iconfont"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e600";
}
.icon--nav-hangqing:before {
  content: "\e601";
}
.icon-gengduo:before {
  content: "\e602";
}
.icon-3:before {
  content: "\e606";
}
.icon-icon:before {
  content: "\e60c";
}
.icon-sousuo5:before {
  content: "\e611";
}
.icon-querenzhangdan:before {
  content: "\e61a";
}
.icon-shouye:before {
  content: "\e61d";
}
.icon-chongzhijilu:before {
  content: "\e61e";
}
.icon-shujutongji:before {
  content: "\e620";
}
.icon-guanli:before {
  content: "\e632";
}
.icon-shoucang:before {
  content: "\e646";
}
.icon-xuanze:before {
  content: "\e651";
}
.icon-liwu:before {
  content: "\e657";
}
.icon-wodeqianbao1:before {
  content: "\e65c";
}
.icon-svg45-copy:before {
  content: "\e65d";
}
.icon-emiguanyuwomen:before {
  content: "\e65f";
}
.icon-liebiao:before {
  content: "\e66f";
}
.icon-qiabao:before {
  content: "\e674";
}
.icon-unie036:before {
  content: "\e697";
}
.icon-ai44:before {
  content: "\e6a2";
}
.icon-exchange:before {
  content: "\e6ad";
}
.icon-tixian:before {
  content: "\e6e2";
}
.icon-dingdanguanli:before {
  content: "\e6e5";
}
.icon-icon--:before {
  content: "\e72a";
}
.icon-fanhui1:before {
  content: "\e78a";
}
.icon-upsj:before {
  content: "\e900";
}
.icon-downsj:before {
  content: "\e901";
}
.icon-line:before {
  content: "\e902";
}
.icon-userlogo:before {
  content: "\e903";
}
.icon-shoucang1:before {
  content: "\e904";
}
.icon-h5:before {
  content: "\e905";
}
.icon-apple:before {
  content: "\e906";
}
.icon-ad:before {
  content: "\e907";
}
.icon-uniE902:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e999";
}
.icon-anquan:before {
  content: "\ec4d";
}
.icon-shuo:before {
  content: "\e909";
}
